{% extends 'menu/carousel/base.html' %} {% block title %}Online shop | Groups{% endblock %}
{% block navigation %}
<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="nav-link col-md-4" 
          aria-current="page" 
          href="addreass"
    ></a>
    <a class="nav-link" 
          style="color:firebrick" 
          aria-current="page" 
          href="\"
    >Main</a>
    <a class="nav-link px-1" 
          style="color:firebrick" 
          aria-current="page"
    >/</a>
    <a class="nav-link" 
          style="color:firebrick" 
          aria-current="page" 
          href="\{{parent.link}}"
    >{{parent.name}}</a>
</nav>
{% endblock %}

{% block content %}
<div class="container marketing text-center py-4">

    <!-- Three columns of text below the carousel -->

    <div class="row">
        {% load static %}
        {% for data in dataset %}
        <div class="col-lg-3 py-3">
            <a href={{data.link}}>
                <img src="{% static data.get_image %}" 
                          class="bd-placeholder-img rounded-circle"  
                          width="180" 
                          height="180"
                ></img>
            </a>
            <div class="py-1" > </div>
            <p>
                <a class="btn btn-secondary" 
                      style="font-size:22px" 
                      href={{data.link}}
                >{{data.name}} &raquo;</a>
            </p>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div><!-- /.row -->
</div>
{% endblock %}
